# SPA rewrite
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /app/system_develop/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule . /app/system_develop/index.html [L]
</IfModule>
